body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding h1 {
    margin: 0;
    font-size: 24px;
}

.branding img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.whatsapp-btn {
    background-color: #25d366;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.whatsapp-btn:hover {
    background-color: #128c7e;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    position: relative;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover .overlay {
    opacity: 1;
}

.overlay p {
    margin: 0;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
}

.logo-container {
    width: 250px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    /* Isso garante que a proporção da imagem seja mantida */
}